@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Begin Bridgeheads */
[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}

[epub|type~="z3998:poem"] [epub|type~="bridgehead"],
[epub|type~="z3998:verse"] [epub|type~="bridgehead"],
[epub|type~="z3998:song"] [epub|type~="bridgehead"],
[epub|type~="z3998:hymn"] [epub|type~="bridgehead"]{
	text-align: justify;
}
/* End Bridgeheads */
